@mixin button
  padding: 0 1em
  font-size: .85em
  font-weight: bold
  line-height: 2em
  border: 1px solid #555
  background: #333
  color: #white
  text-shadow: none
  box-shadow: 0 0 5px #0003
  &:hover, &:active, &:focus
    background: #444
    border-color: #666

@mixin start-button
  @include button
  color: #040
  border-color: #af8
  background: #6c5
  &:hover, &:active, &:focus
    background: #bf7
    border-color: #cfa
