.root {
  width: 75vmin;
  height: 75vmin;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);

  :nth-child(2n) {
    background: #ccc;
    color: black;
  }
  :nth-child(2n + 1) {
    background: #555;
    color: white;
  }
}
