@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'),
       url('./assets/noto-sans-v32-latin-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Linux Libertine';
  src: local('Linux Libertine'),
       url('./assets/LinLibertine.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  box-sizing: border-box;
  text-shadow: 0 0 3px #000c;
  transition:
  background var(--transition-duration),
  color var(--transition-duration),
  border var(--transition-duration);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #222;
  color: #ddd;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-size: 16pt;
  text-align: center;
  transition: none;

  --icon-size: 1em;
}

button, input {
  appearance: none;
  border: 0 none transparent;
  outline: 0 none transparent;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  pointer-events: auto;
  transition: .3s background, .3s box-shadow
}
button {
  cursor: pointer;
}
label {
  cursor: pointer;
  user-select: none;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
